body {
    margin: 0;
    background-color: #525659;
    font-family: Segoe UI, Tahoma, sans-serif;
  }
  
  .Example input,
  .Example button {
    font: inherit;
  }
  
  .Example header {
    background-color: #323639;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: white;
  }
  
  .Example header h1 {
    font-size: inherit;
    margin: 0;
  }
  
  .Example__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
  }
  
  .Example__container__load {
    margin-top: 1em;
    color: white;
  }
  
  .Example__container__document {
    margin: 1em 0;
  }
  
  .Example__container__document .react-pdf__Document {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Example__container__document .react-pdf__Page {
    max-width: calc(100% - 2em);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    margin: 1em;
  }
  
  .Example__container__document .react-pdf__Page canvas {
    max-width: 100%;
    height: auto !important;
  }
  
  .Example__container__document .react-pdf__message {
    padding: 20px;
    color: white;
  }
  

  .upload-dokumen-laporan{
    height: 1000px;
    overflow-y: scroll;
    overflow: hidden;
  }

  .upload-dokumen-laporans{
    height: 1000px;
    overflow-y: scroll;
  }


  .custom-file-input {
    color: transparent;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Lampirkan Laporan';
    color: white;
    display: inline-block;
    background: -webkit-linear-gradient(top, #5053e9,#5053e9);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
   
    font-weight: 600;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }

  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: grey;
    cursor: pointer;
    font-size: 18px;
  }
  
  /* Style the active class, and buttons on mouse-over */
  .actives, .btn:hover {
    background-color: #666;
    color: white;
  }

  .actives{
    background-color:rgb(123, 162, 198)}