body {
    background-color: teal;
}
    
.container {
    background-color: white;
    padding : 120px;
}

.row-space{
    margin-bottom: 85px;
    padding: 10px;
    margin-left: 4px;
    margin-right: 4px;
    border: 1px solid rgb(206, 202, 202);
}

.row-self-assessment{
    margin: 50px;
}

.title-s{
    text-align:center;
    margin-bottom: 80px;
    color:black;
    font-family: fira-sans;
}

.spacing{
    margin: 30px;
}

.pdf-container{
    width: 100%;
    height: 600px;
    background-color: #e4e4e4;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-msg{
    width: 100%;
    color:red;
    font-size: 14px;
    font-weight: 600;
}